---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
  </div>
</main>

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: '你的Github账户名',
    repo: '用于存储评论的仓库',
    oauth: {
        client_id: '你的客户ID',
        client_secret: '你的客户密钥',
    },
});
gitment.render('gitmentContainer');
</script>
    </article>
  </div>
</main>